@font-face {
    font-family: Montserrat;
    src: url(/font-family/Gilroy-Medium.ttf);
    src: url(/font-family/FuturaPTMedium.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    overflow-x: hidden;
}

.page1 {
    width: 100vw;
    min-height: 100vh;
    background-image: url(Image/background-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    width: 80vw;
    border-bottom: 1px solid white;
    height: 18vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    position: relative;
    margin: 1.5vw;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: Futura Pt medium;
}

nav ul li a:hover {
    color: orange;
}

.hamberger {
    display: none;
}

.hamberger-click {
    display: none;
}

.hori-line {
    width: 0.1vw;
    height: 4vh;
    background-color: white;
}








.cart i {
    margin-right: 10px;
}

.semi-list {
    position: absolute;
    top: 80%;
    left: 0;
    flex-direction: column;
    color: white;
    float: right;
    background-color: rgba(0, 0, 0, 0.741);
    margin-top: 1vh;
    padding: 1vw;
    font-family: gilroy;
    display: none;
}

.semi-list li {
    margin: 1.5vh;
    font-weight: 600;

}

nav ul li:hover .semi-list {
    display: initial;
}

.semi-list li:hover {
    color: orange;
    cursor: pointer;
}



/* .cart-hover:hover .account-box{
    display: initial;
} */




section {
    height: 81vh;
    width: 80vw;
    margin: auto;
    padding-top: 1vw;
}

section img {
    width: 100%;
    height: 60%;
    object-fit: contain;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
}

.buttons button {
    padding: 0.8vw 2vw;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-right: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button:hover {
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}

.buttons button:hover i {
    background-color: orange;
    color: white;
    border: none;
}

.buttons button i {
    color: orange;
    font-size: 1.5vw;
}

.scroll {
    width: 100%;
    height: 20%;
    margin-top: 2vw;
    display: flex;
    align-items: flex-end;
}

.page2 {
    width: 100vw;
    height: 30vh;
    background-color: rgb(247, 143, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.information {
    width: 50vw;
}

.page2 h3,
.page2 h2 {
    color: white;
    margin-bottom: 0.5vw;
    letter-spacing: 0.2vw;
    font-family: Futura pt medium;
}

.email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw;
}

.email input {
    width: 70%;
    padding: 1vw;
    background-color: transparent;
    border: 1px solid white;
}

.email input::placeholder {
    color: white;
    font-size: 1.3vw;
    font-weight: 300;
}

.email button {
    width: 30%;
    padding: 1vw;
    background-color: transparent;
    border: 1px solid white;
    background-color: white;
    color: orange;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;


}

.email button:hover {
    cursor: pointer;
    background-color: black;
    border: 2px solid black;
}

.page3,
.page4 {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3-left {
    width: 50vw;
    height: 79vh;
    background-image: url(https://www.borealcoffee.ch/images/thumbnails/800/532/promo/1/block-home-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page3-left:hover {
    background-image: url(https://www.borealcoffee.ch/images/thumbnails/800/532/promo_hover/1/block-home-1-hover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50vw;
    height: 79vh;
}

.page3-right,
.page4-left {
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3-right-child,
.page4-left-child {
    width: 40vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
}

.story {
    color: orange;
    font-family: gilroy;
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

.page3-right-child h1,
.page4-left-child h1 {
    font-size: 3vw;
    font-family: Gilroy;
    margin-bottom: 0.2vw;
}

.page3-right-child h1:hover,
.page4-left-child h1:hover {
    color: orange;
}

.or-line {
    width: 5%;
    height: 1vh;
    background-color: orange;
    margin-bottom: 2vw;
    margin-left: 0.2vw;
}

.page3-right-child p,
.page4-left-child p {
    font-family: gilroy;
    margin-bottom: 1.5vw;
    font-size: 1.2vw;
}

.get-details {
    font-family: Gilroy;
    margin-top: 4vw;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.get-details i {
    color: orange;
    margin-left: 0.3vw;
    font-weight: 600;
}

.page4-right {
    width: 50vw;
    height: 79vh;
    background-image: url(https://www.borealcoffee.ch/images/thumbnails/800/532/promo/1/block-home-2_lp2r-sh.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page4-right:hover {
    background-image: url(https://www.borealcoffee.ch/images/thumbnails/800/532/promo_hover/1/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50vw;
    height: 79vh;
}

.page5 {
    width: 100vw;
    height: 60vh;
    background-image: none;
    /* background-repeat: no-repeat;
    background-position:top;
    background-size: cover; */
    position: relative;


}

.page5 video {
    width: 100%;
    height: 98%;
    object-fit: cover;
    background-position: center;
}

.overlay {
    width: 100%;
    height: 98%;
    background-color: rgba(27, 27, 27, 0.715);
    position: absolute;
    top: 0;
}

.page5-text {
    width: 40vw;
    height: 100%;
    background-color: brown;
    position: absolute;
    right: 0;
}

.footer {
    width: 100vw;
    min-height: 50vh;
}

.top-footer {
    height: 15vh;
    width: 100vw;
    background-color: rgb(44, 44, 45);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-right-footer {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.top-right-footer img {
    width: 50%;
    height: 100%;
    margin-top: 2vw;
}

.top-left-footer {
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.top-left-footer h3 {
    color: orange;
    text-transform: uppercase;
    font-size: 1vw;
    font-family: Gilroy;
    letter-spacing: 0.1vw;
}

.top-left-footer h2 {
    font-family: gilroy;
    color: white;
    letter-spacing: 0.1vw;
    font-size: 1.5vw;

}

.bottom-footer {
    width: 90vw;
    border-bottom: 1px solid grey;
    height: 25vh;
    margin: auto;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btm-footer-first {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid grey;

}

.btm-footer-first img {
    width: 50%;

}

.btm-footer-second {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid grey;
    padding: 0 1vh;

}

.second-left {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5vw;
}

.second-left h3 {
    color: black;
    font-size: 1.2vw;
    font-family: gilroy;
}

.second-left p {
    margin-bottom: 0.5vw;
    font-family: gilroy;
    font-size: 1vw;
}

.discover {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color: orange;
}

.discover i {
    margin-left: 0.5vw;
    font-size: 1vw;
}

.second-right {
    width: 55%;
}

.btm-footer-third {
    width: 25%;
    height: 100%;
    display: flex;
    border-right: 1px solid grey;

}

.third-left {
    width: 50%;
    height: 100%;
    padding: 0.5vw;
}

.third-left h4 {
    font-family: gilroy;
    margin-bottom: 1.5vw;

}

.third-left p {
    font-family: gilroy;
    margin-bottom: 0.3vw;

}

.third-right {
    height: 60%;
    margin-top: 3vw;
}

.third-right p {
    font-family: gilroy;
    margin-bottom: 0.3vw;
}

.btm-footer-fourth {
    width: 30%;
    height: 100%;
}

.fourth-upper {
    width: 100%;
    height: 40%;
    display: flex;
    border-bottom: 1px solid grey;
}

.fourth-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid grey;
    padding: 0.5vw;
    font-family: futura pt medium;
}

.fourth-left select,
.fourth-right select {
    border: none;
    font-weight: 700;
}

.fourth-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw;
    font-family: futura pt medium;
}

.fourth-lower {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
}

.fourth-lower h3 {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-family: futura pt medium;
    letter-spacing: 0.1vh;
}

.logo-section i {
    font-size: 1.5vw;
}

.logo-section i:hover {
    color: orange;
    cursor: pointer;
}

.lower-footer {
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5vh;
}

.lower-footer p {
    font-family: gilroy;
    font-size: 1vw;
}

.card-section img {
    margin-right: 0.5vh;
    width: 20%;
}

/* Whoweare */

.who-page1 {
    width: 100vw;
    min-height: 100vh;
    background-image: url(https://www.borealcoffee.ch/images/thumbnails/1600/700/page/1/20032018-_DCS5408.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.who-overlay {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.638);

}

.who-section {
    width: 80vw;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.who-section h2 {
    color: orange;
    font-family: gilroy;
    font-size: 2vw;
    letter-spacing: 0.1vw;
}

.who-section h3 {
    color: white;
    font-family: gilroy;
    letter-spacing: 0.1vw;
    margin-top: 0.5vw;

}

.who-page2 {
    width: 80vw;
    margin: auto;
    min-height: 100vh;
    background-color: rgb(248, 249, 250);
    padding: 2vw;
}

.who-page2 h3 {
    color: orange;
    font-family: Gilroy;
    letter-spacing: 0.2vw;
    margin-bottom: 0.5vw;
}

.who-page2 h1 {
    font-family: gilroy;
    margin-bottom: 0.5vw;

}

.who-page2 p {
    font-family: Futura pt medium;
    font-size: 1.5vw;
    font-weight: 200;
}

.who-imgdiv {
    width: 35vw;
    height: 100%;
    margin-top: 2vh;
}

.who-imgdiv img {
    width: 100%;
    height: 100%;
}

/* location */

.location-page1 {
    width: 100vw;
    min-height: 120vh;
    background-image: url(Image/background-home.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;

}

.location-overlay {
    width: 100vw;
    min-height: 120vh;
    background-color: rgba(0, 0, 0, 0.752);
}

.location-section {
    width: 80vw;
    height: 102vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.map-location {
    width: 60vw;
    height: 62vh;
}

.location-section img {
    width: 100%;
    height: 100%;
}

.location-text h2 {
    color: orange;
    font-family: Futura pt medium;
    letter-spacing: 0.2vw;
    margin: 2vh 0;
}

.location-text h1 {
    color: white;
    font-family: gilroy;
    font-size: 3vw;
    cursor: pointer;
    letter-spacing: 0.2vw;

}

.active,
.location-text h1 span:hover {
    border-bottom: 2px solid orange;


}

.location-scroll {
    width: 300px;
    height: 100px;
    margin-top: 1.5vh;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.location-text img {
    height: 80%;
    width: 80%;
    object-fit: cover;
}

.location-page2 {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location-page2-left {
    width: 55vw;
    height: 78vh;
}

.location-page2-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.location-page2-right {
    width: 50vw;
    height: 78vh;
    background-color: rgb(248, 249, 250);
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-page2-rightchild {
    width: 40vw;
    padding: 1vw;
    margin-left: 5vw;
}

.location-page2-rightchild h1 {
    font-family: gilroy;
    letter-spacing: 0.2vw;
}

.location-page2-rightchild p {
    font-family: gilroy;
    font-size: 1.2vw;
}

.location-page3 {
    display: flex;
    flex-direction: row-reverse;
}

.location-page5 {
    display: flex;
    flex-direction: row-reverse;
}

.location-page5 p {
    margin-bottom: 2vw;
}

/* shop */

.shop-page1 {
    width: 100vw;
    min-height: 100vh;
    color: black;
}

.shop-page1 .hori-line {
    background-color: black;
    height: 3vh;

}

.shop-page1 nav {
    border-bottom: 2px solid black;
}

.shop-page1 nav li a {
    color: black;
}

.shop-head {
    width: 100vw;
    height: 30vh;
    font-family: gilroy;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.shop-head h3 {
    color: orange;
    margin-bottom: 0.5vw;
}

.shop-head h1 {
    text-transform: uppercase;
    font-size: 2vw;
}

.shop-center {
    width: 100vw;
    min-height: 80vh;
}

.row-1 {
    display: flex;
    justify-content: space-evenly;
    min-height: 50vh;
    margin-top: 3vw;
    flex-wrap: wrap;
}

.cell-1 {
    width: 20vw;
    height: 49vh;

}

.cell-img-div {
    width: 90%;
    height: 80%;
    margin: auto;
}

.cell-img-div img {
    width: 100%;
    height: 100%;
}

.cell-text-div {
    width: 80%;
    height: 20%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Futura pt medium;
}

.cell-text-div h3 {
    text-transform: uppercase;
}

.cell-text-div h4 {
    color: orange;
}

.display-none {
    opacity: 0;
}

/* cofeecatering */

.cofeecatering-page1 {
    width: 100vw;
    min-height: 90vh;
    background-position: center;
    background-image: url('https://www.borealcoffee.ch/images/thumbnails/1600/700/page/1/header-caterings.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.cofeecatering-overlay {
    width: 100vw;
    min-height: 89.8vh;
    background-color: rgba(0, 0, 0, 0.645);
}

.cofeecatering-text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    font-family: gilroy;
}

.cofeecatering-text1 h2 {
    color: orange;

}

.cofeecatering-text1 h3 {
    color: white;
    font-weight: 200;
    letter-spacing: 1px;
}

.cofeecatering-center {
    width: 100vw;
    min-height: 111vh;
}

.criteria-1 {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.criteria-1-left {
    width: 50vw;
    height: 110vh;
}

.criteria-1-left img {
    width: 49vw;
    height: 100%;
    object-fit: cover;
}

.criteria-1-right {
    width: 50vw;
    height: 110vh;
    background-color: white;
    padding: 3vw;
    font-family: gilroy;
}

.criteria-1-right h3,
.criteria-2-right h3 {
    color: orange;
    margin-bottom: 1vh;
}

.criteria-1-right h1,
.criteria-2-right h1 {
    letter-spacing: 1px;
    margin-bottom: 2vh;

}

.criteria-1-right p,
.criteria-2-right p {
    margin-bottom: 3vh;
    font-family: gilroy;
}

.criteria-1-right p span {
    color: orange;
}

.criteria-2 {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
}

.criteria-2-right {
    width: 50vw;
    padding: 2vw;
}

.account-page1{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.781);
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-box{
    box-shadow: 2px 2px 40px 20px grey;
    width: 18vw;
    right: 5%;
    border: 2px solid white;
    padding: 4vh;

}


.account-box h4 {
    font-size: 5vh;
    color: white;
    padding: 1vh;
    font-family: gilroy;
}

.account-box input {
    padding: 1vh;
    width: 90%;
    margin: 1vh 1vh;

}

.account-box .btn {
    width: 90%;
    padding: 2vh;
    margin: 0.5vh 1vh;
    font-family: gilroy;
    cursor: pointer;

}

.Register {
    background-color: orange;
}
 
